/* WorldWarThree.css: V1.0.0.0: 2022_04_30: Created by Eamonn Anthony Duffy. */

#divLogoTitleTagLineAndBanner {
}

#divLogoTitleAndTagLine {
    float: left;
}

#divBanner {
    float: left;
    width: 950px;
}

#divLogo {
    padding-left: 10px;
    float: left;
}

#divTitleAndTagLine {
    float: left;
}

#divTitle {
    float: left;
}

#divTagLine {
    clear: left;
}

#divDateAndTime {
    color: mediumvioletred;
}

#imgLogo {
    height: 75px;
}

#imgBanner {
    margin-left: 10px;
    display: block;
    max-width: 100%;
}

#iTagLine {
    color: violet;
}

nav {
    clear: both;
    --items: 5;
}

h1, h2, h3, h4 {
    color: orange;
}
